<div class="home-container">

  <header class="top-nav">

    <div class="top-left">

     
      <span class="hamburger" (click)="toggleMenu()">
        ☰
      </span>

      
      <div>
        <img src="/img/ford.png" class="ford1">
      </div>

    </div>

  </header>

  
  <div class="workspace">

    
    <nav class="navbar"
         [style.width]="menuOpen ? '220px' : '0px'">

      <div class="menu" *ngIf="menuOpen">

      <a
       routerLink="/login"
       class="menu-item">

       Home

      </a>

        <a
          routerLink="/dashboard"
          routerLinkActive="active-link"
          class="menu-item">

          Dashboard

        </a>

      </div>

      <div class="logout-container" *ngIf="menuOpen">

        

      </div>

    </nav>

   
    <main class="overlay">

      <div class="welcome-card">

        <div class="card-header">
          Sistema de dados FORD
        </div>

        <div class="card-body">
          <p>Seja bem-vindo(a)!</p>
        </div>

      </div>

    </main>

  </div>

</div>